::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #7b92b2;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 